
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #f0f0f0;
}
